script(src='/javascripts/lib/sugar/sugar-full.development.js')
script(src='/javascripts/lib/angular/angular.min.js')
script(src='/socket.io/socket.io.js')
script(src='/javascripts/app.js')
script(src='/javascripts/controllers.js')
script(src='/javascripts/directives.js')
script(src='/javascripts/filters.js')
script(src='/javascripts/services.js')
script(src='/javascripts/modules/chatroom/chatroom.js')
script(src='/javascripts/modules/rating/rating.js')
script(src='/javascripts/lib/jquery/jquery.min.js')
script(src='/javascripts/lib/bootstrap/js/bootstrap.min.js')
