extends layout

block content
  .main-content(data-ng-cloak)
    .light-well
      .light-well-header #piehole -- The human's largest I/O port.
      .light-well-inner
        .chatroom-message-list
          ui-chatroom(data-messages='messages',
                      data-input='message',
                      data-username='name',
                      data-on-submit='sendMessage')


    .light-well(data-ng-hide='true')
      .light-well-inner rating_bound:
        data-ui-rating(data-value='data.rating_bound', max-value='5')
        data-ui-rating(data-value='data.rating_bound', max-value='5')

    .light-well(data-ng-hide='true')
      .light-well-inner
        .well rating_standalone:
          data-ui-rating(data-value='data.rating_standalone', data-max-value='5')
          label(for='rating_standalone_range') {{ data.rating_standalone }}
          input(id='rating_standalone_range', type='range', min='0', max='5', data-ng-model='data.rating_standalone',)

        .well
          data-ph-ntimes(count='5')
            h3 ntimes test
